@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1919; 
}

::-webkit-scrollbar-thumb {
  background: #56957e;
  opacity: 1;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}


.searchInputWrapper {
  position: relative;
}

.searchInput {
  margin-right: 10px;
  width: 12rem;
  height: 2rem;
  padding: 0 1rem; 
  font-size: 12px;
  border-radius: 25px;
  border: 2px solid #56957e;
  transition: transform 0.1s ease-in-out;
  background-color: transparent;
}

::placeholder {
  color: #a1a1a1;
}

:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}

.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.myMap {
  filter: grayscale(1) contrast(1) opacity(0.9);
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #56957e;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #56957e;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #56957e;
}



/** Banner Component CSS Styling **/

/* Banner.css */
.banner-container {
  padding: 3rem 1rem;
  background-color: #ffffff;
  position: relative;
}

.banner-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-text {
  padding: 2rem 1rem;
  flex: 1;
}

.banner-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
}

.banner-description {
  font-size: 1.25rem;
  color: #666;
  line-height: 1.5;
}

.banner-image {
  flex: 1;
}

.banner-img {
  width: 100%;
  height: auto;
}

/* __________________________________________________________________________ */
#StyleSignIn{
  color: #56957e; 

}
#StyleSignIn:hover{
  font-size: large;
  color: '#56957e'!important;
  transition: transform 0.1s ease-in-out;

}

#links:hover{
border-color:#56957e ;
}

#signInButton{
  background-color:#56957e ;
}
#NavCOntainer{
  width: 100%;
  
  
}
#Username{
  color: #1a1919;
}
#facebookIcon{
  width: 20px;
  height: 20px;
  
}
.LogOut{
  color: black;
  font-size: 15px;
}
#menuAccount{
  color:#56957e ;
}
#containerNavBar{
  width: 100%;
  border-bottom: #56957e solid 3px;
}
#buttonAnimation{
  color:#56957e;
  background-color: #56957e;
}
#colorProjet{
  color: #56957e;
}
#HeroButton{
  background-color: #56957e;
}

#LogoBmw{
  width: 50px;
  height: 50px;
}

/* _________________________________________Car Models____________________________ */
#BookingButton{
  height: 90%;
    padding: 5px;
    width: 100%;
    background-color: #56957e;
    color: aliceblue;
    font-weight: bold;  
    border: 0px;
    border-radius: 5px;
}

#BookingButton:hover{
  background-color: rgb(58, 80, 83); 
}

#BookingButton:focus{
  background-color: rgb(44, 61, 63); 

}
#webSiteMainColor{
  background-color: #56957e;
}
#webSiteTextColor{
  color:#56957e;
}


#SendYourMsgButton:hover{
  background-color: #56957e;
}

/* the styling of find by model */
body{
  margin: 0px 0px 0px;
}
.theHeroo{
  width: 90%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;    
  flex-direction: column;
  position: relative;
}
.PP{
  position: absolute;
  width: 258px;
  height: 15px;
  top: 19px;
  background-color: rgba(155, 197, 255, 0.347);
  z-index: 3;
}
/* .P11{
  position: absolute;
  z-index: 3;
  top: 50px;
  font-size: 100px;
} */
.theHeroo .Title{
  z-index: 10;
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  /* padding: -20px -20px; */
  border-bottom: 5px solid rgba(155, 197, 255, 0.347);
  /* border: 1px solid black;     */
  font-family: sans-serif;
}
.theHeroo .TheCars{
  display: flex;
  z-index: 10;

  z-index: 10;

  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.theHeroo .TheCars .oneCar{
  z-index: 10;

  box-shadow: 1px 1px 20px 0.5px rgb(245, 245, 245);
  box-shadow: 1px 1px 20px 0.5px rgba(155, 197, 255, 0.347);
  margin-left: 20px;
  border: 1px solid rgba(156, 157, 224, 0.25);
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:  200px;
  height: 200px;
}
.theHeroo .TheCars .oneCar .Theimg{
  width: 85%;
  z-index: 10;

  height: 100px;
  position: relative;
overflow: hidden; /* Hide any overflow of the image */
}
.theHeroo .TheCars .oneCar .Theimg img{
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 10;

object-fit: cover; /* Scale the image to cover the entire container */
z-index: -1; 
}
.theHeroo .TheCars .oneCar .type{
  margin-top: 10px;
  font-size: 25px;
  width: 100%;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  z-index: 10;

  color: rgb(61, 61, 61);
}
.theHeroo .TheCars .oneCar button:hover{
  background-color: rgba(121, 155, 204, 0.347);

}
.theHeroo .TheCars .oneCar button{
  background-color: transparent;
  border: 0px solid rgba(156, 157, 224, 0.25);
  border-radius: 3px;
  margin-top: 15px;
  padding: 5px 7px;
  text-decoration: none;
  font-size: 15px;
  z-index: 10;

  width: 50%;
  color: rgb(91, 91, 91);
  background-color: rgba(155, 197, 255, 0.347);
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(0, 136, 255);
  /* box-shadow: 1px 1px 20px 0.5px rgb(210, 216, 243); */
  /* box-shadow: 1px 1px 20px 0.5px rgb(180, 180, 180); */
  
  text-align: center;
}

.textMainColor{
  color: #56957e;
}
.inputForm{
  border-color: #1a1919;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

