@tailwind base;
@tailwind components;
@tailwind utilities;

#button {
    display: inline-block;
    background-color: #facc15;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 50px;
    color: #000000;
  }
  #button:hover {
    cursor: pointer;
    background-color: #eec008;
  }
 
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  